$white: #FFFFFF;

$main-dark-green : #015232;
$main-light-green: #00633C;

$light-green: #E5F4EC;

$dark-gray: #6D6D6D;
$light-gray: rgb(109, 109, 109, 0.7);
$border-gray: rgb(200, 200, 200, 0.5);


$container-width: 1500px;
$border-radius: 15px;

$main-gap: 15px;
$text-gap: 12px;

