@use '../../../styles/variables' as *;

.green-button {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 18px 40px;
	text-decoration: none;
	color: $white;
	background: $green-linear;
	border-radius: $border-radius;

	span {
		font-size: $size-16;
		font-weight: $fw-medium;
	}
}